@font-face {
  font-family: 'Manrope';
  src: url('./design/manrope/Manrope-VariableFont_wght.ttf');
}



*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body{
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}


.bg-img{
  background-image: url('./images/bg-pattern.svg');
  height: 50vh;
  background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: relative;
}

.bg-img img{
  height: 30%;
}

.bg-pattern{
  min-height: 40%;
  background-image: url('./images/pattern-circles.svg');
  background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
  font-family: 'Manrope', sans-serif;
  color: #848EAD;
  font-weight: 600;
  
}

.bold-header{
  font-weight: 800;
  color:#293356;
}

.billing-row{
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  
}

.card{
  color: #848EAD;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  margin-top: -160px;
  border: none;

box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.15);
}

#pageviews{
  width: 100%;
}

.bg-light{
  background-color: #FEEDE8 !important;
  color: #FF8D68;
}

.form-check .form-check-input{
  float: none !important;
  margin-left: 0 !important;
  width: 3em !important;
  height: 70% !important;
}

.form-check.form-switch{
  width: auto;
}

.divider{
  border-bottom: 1px #ECF0FB solid;
  width: 100%;
  margin-bottom: 10%;
}

.check-icon{
  width: 5%;
}

.start-btn button{
  border: none;
  background-color: #293356;
  color: #BECDFF;
  border-radius: 50px;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
}


/* #pageviews{
  -webkit-appearance: none;
  accent-color: #A4F3EB;
  background: #ECF0FB;
}



input[type="range"]{
  appearance: #A4F3EB;
  accent-color: #A4F3EB;
} */

/* .custom-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #e0e0e0;
  outline: none;
  padding: 0;
  margin: 20px 0;
}

.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}

.custom-slider::-webkit-slider-thumb:hover {
  background: #45a049;
}

.custom-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}

.custom-slider::-moz-range-thumb:hover {
  background: #45a049;
}

.custom-slider::-ms-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}

.custom-slider::-ms-thumb:hover {
  background: #45a049;
} */

    input[type='range'] {
      /* overflow: hidden; */
      width: 80px;
      -webkit-appearance: none;
      background-color: #ECF0FB;
      position: relative;
      height: 10px;
      border-radius: 50px;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      
      height: 10px;
      -webkit-appearance: none;
      color: #A4F3EB;
      position: relative;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 30px;
      -webkit-appearance: none;
      appearance: none;
      height: 30px;
      cursor: pointer;
      background-color: #10D8C4;
      background-image: url('./images/icon-slider.svg');
      background-size: auto;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50% ;
      /* position:relative; */
      /* box-shadow: -2000px 0 0 1000px  #ECF0FB; */
      box-shadow: 0 10px 10px 4px rgba(128, 255, 243, 0.75); 
      margin-top: -8px;
      z-index: 555;
    }

    input[type='range']::-webkit-slider-thumb:hover{
      background-color: #24AEA1;
    }

    .form-check-input:checked{
      background-color: #7AEADF;
      border: none;
    }

    .form-check-input:focus{
      border-color: none !important;
    outline: 0 !important;
    border:none !important;
    box-shadow: none !important;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255, 255, 255)'/></svg>");
    
    }

    .form-check-input:not(:checked){
      border: none;
      background-color: #CFD8EF;
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255, 255, 255)'/></svg>");
    }
/* ****** MEDIA QUERIES ******** */

@media screen and (min-width: 375px){
  .bold-header{
    font-size: 1.3em
  }

  .card{
    width: 90%;
    font-size: 1em;
  }

  .col-margin{
    margin-bottom: 5%;
  }

  #pageview-text{
    letter-spacing: 1.714px;
    font-size: .8em;
    font-weight: 800;
  }

  #price{
    font-size: 2em;
    color: #293356;
    font-weight: 800;
  }

  #billing-row{
    font-size: .7em;
    margin-bottom: 10%;
  }

  #list-text{
    font-size: 1em;
    margin-bottom: 10%;
  }

  .start-btn{
    margin-bottom: 10%;
  }
  .start-btn button:hover{
    color: white;
  }
}

@media screen and (min-width: 768px){
  .bold-header{
    font-size: 1.8em;
  }

  .card{
    width: 40%;
    font-size: 1.2em;
  }

  .col-margin{
    margin-bottom: 5%;
  }

  #pageview-text{
    font-size: .9em;
    font-weight: 800;
  }

  #list-text{
    font-size: .8em;
    margin-bottom: 0;
  }

  .start-btn button{
    font-size: .8em;
  }

  .start-btn{
    margin-bottom: 0;
  }
  
}





