*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body{
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}


.bg-img{
  background-image: url('./images/bg-pattern.svg');
  height: 50vh;
  background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}