@font-face {
  font-family: 'Manrope';
  src: url('./design/manrope/Manrope-VariableFont_wght.ttf');
}



*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body{
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}


.bg-img{
  background-image: url('./images/bg-pattern.svg');
  height: 50vh;
  background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: relative;
}

.bg-img img{
  height: 30%;
}

.bg-pattern{
  min-height: 40%;
  background-image: url('./images/pattern-circles.svg');
  background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
  font-family: 'Manrope', sans-serif;
  color: #848EAD;
  font-weight: 600;
  
}

.bold-header{
  font-weight: 800;
  color:#293356;
}

.billing-row{
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  
}

.card{
  color: #848EAD;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  margin-top: -160px;
}

#pageviews{
  width: 100%;
}

.bg-light{
  background-color: #FEEDE8 !important;
  color: #FF8D68;
}

.form-check .form-check-input{
  float: none !important;
  margin-left: 0 !important;
  width: 3em !important;
  height: 70% !important;
}

.form-check.form-switch{
  width: auto;
}

.divider{
  border-bottom: 1px #ECF0FB solid;
  width: 100%;
  margin-bottom: 10%;
}

.check-icon{
  width: 5%;
}

.start-btn button{
  border: none;
  background-color: #293356;
  color: #BECDFF;
  border-radius: 50px;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
}

.start-btn{
  margin-bottom: 10%;
}


/* ****** MEDIA QUERIES ******** */

@media screen and (min-width: 375px){
  .bold-header{
    font-size: 1.3em
  }

  .card{
    width: 90%;
    font-size: 1em;
  }

  .col-margin{
    margin-bottom: 5%;
  }

  #pageview-text{
    letter-spacing: 1.714px;
    font-size: .8em;
    font-weight: 800;
  }

  #price{
    font-size: 2em;
    color: #293356;
    font-weight: 800;
  }

  #billing-row{
    font-size: .7em;
    margin-bottom: 10%;
  }

  #list-text{
    font-size: 1em;
    margin-bottom: 10%;
  }
}

@media screen and (min-width: 768px){
  .bold-header{
    font-size: 1.8em;
  }

  .card{
    width: 40%;
    font-size: 1.2em;
  }

  .col-margin{
    margin-bottom: 5%;
  }

  #pageview-text{
    font-size: .9em;
    font-weight: 800;
  }

  #list-text{
    font-size: .8em;
  }
  
}





